:root { 
--deep_orange_50:#fee2e2; 
--red_700:#dc2626; 
--blue_gray_100_00:#d1d5db00; 
--blue_gray_100_01:#d1d5db; 
--red_900:#b91c1c; 
--gray_900_cc:#111827cc; 
--red_400:#f43f5e; 
--gray_50:#f9fafb; 
--red_50:#fef2f2; 
--teal_400:#10b981; 
--black_900:#000000; 
--teal_800:#047857; 
--blue_gray_800:#374151; 
--blue_gray_700:#4b5563; 
--blue_gray_900:#1f2937; 
--gray_600:#6b7280; 
--blue_gray_100:#d9d9d9; 
--blue_gray_300:#9ca3af; 
--blue_gray_600:#616675; 
--gray_900:#111827; 
--gray_200:#e5e7eb; 
--black_900_0c:#0000000c; 
--gray_100:#f3f4f6; 
--white_A700_00:#ffffff00; 
--gray_100_02:#f3f3f3; 
--gray_100_01:#ecfdf5; 
--white_A700:#ffffff; 
}